 

<div class="content">

    <div class="content_resize">
      <div class="mainbar">
       
 
       <div *ngIf="isLoginPage" class="article">
        <h2><span>BLOG Login</span></h2>
        <div class="clr"></div>
        <form action="#" method="post" id="sendemail">
          <ol>
            
            <li>
              <label for="email">Email Address (required)</label>
              <input [(ngModel)]="username"  name="email" class="text" />
            </li>
            <li>
                <label Password >Password</label>
                <input  [(ngModel)]="password" type="password" name="email" class="text" />
              </li>
              <li>
             
                <input type="button" (click)="loginValidation()" value='Click to Login test'/>
              </li>
          </ol>
        </form>
      </div>

        <div *ngIf="!isLoginPage" class="article">
            <h2><span>Register</span></h2>
          <div class="clr"></div>
          <form action="#" method="post" id="sendemail">
            <ol>
              <li>
                <label for="name">Name (required)</label>
                <input id="name" name="name" class="text" />
              </li>
              <li>
                <label for="email">Email Address (required)</label>
                <input id="email" name="email" class="text" />
              </li>
              <li>
                <label Password >Password</label>
                <input type="password" name="email" class="text" />
              </li>
              <li>
                <label Password >Re-Password</label>
                <input type="password" name="email" class="text" />
              </li>
              <li>
             
                <input type="button" value='Click to Register'/>
              </li>
            </ol>
          </form>
        </div>
      </div>
      
      <div class="clr"></div>
    </div>
  </div>